@page "/error"

<div class="error-page">
    <h1>Oops! Something went wrong.</h1>
    <p>Sorry, an unexpected error occurred.</p>
    <p>Please try one of the following:</p>

    <ul>
        <li><a href="/">Go back to Home</a></li>
        <li>Contact me if the problem persists.</li>
    </ul>

    <img src="images/error-illustration.png" alt="Error" class="error-img" />
</div>
